{% assign cur_week = site.time | date: "%U" %}
{% assign first_week = site.first_game | date: "%U" %}
{% assign season_week = cur_week | minus: first_week | modulo: 52 %}
{% assign schedule_active_column = season_week | plus: 2 %}
{% assign schedule_active_week = season_week | plus: 2 %}

<style>
/* schedule overview */
table.schedule-overview {
  font-size: +1em;
  font-weight: bold;
  width: 100%;
}

table.schedule-overview th,
table.schedule-overview td {
  padding-left: 1em;
  padding-right: 1em;
}


/* schedule key */

table.schedule-key {
  font-size: +1em;
  width: 100%;
}

table.schedule-key th,
table.schedule-key td {
  padding-left: 1em;
  padding-right: 1em;
}


/* schedule */

table.schedule {
  font-size: +1em;
  text-align: center;
}

table.schedule th:nth-child({{ schedule_active_column }}) {
  font-weight: bold;
  background-color: #1e252a;
  background-blend-mode: difference;
  mix-blend-mode: luminosity;
}

table.schedule td:first-child {
  text-align: right;
}

table.schedule td:nth-child({{ schedule_active_column }}) {
  font-weight: bold;
  background-color: #000000;
  background-blend-mode: difference;
  mix-blend-mode: luminosity;
}


/* single-day schedule */

table.week-schedule {
  font-size: +1em;
  text-align: center;
}

table.week-schedule td:first-child {
  text-align: right;
}

table.week-schedule:nth-of-type({{ schedule_active_week }}) th {
  font-weight: bold;
  background-color: #1e252a;
  background-blend-mode: difference;
  mix-blend-mode: luminosity;
}

table.week-schedule:nth-of-type({{ schedule_active_week }}) td {
  font-weight: bold;
  background-color: #000000;
  background-blend-mode: difference;
  mix-blend-mode: luminosity;
}

h2.week-schedule:nth-of-type({{ schedule_active_week }})::after {
    /* content: ' \1F449  '; */ /* finger-pointing-right */
    content: ' \1F448 '; /* finger-pointing-left */
}

h2.week-schedule:nth-of-type({{ schedule_active_week }}) {
  background-blend-mode: difference;
  mix-blend-mode: luminosity;
}

</style>
