    <div class="wrapper">
      <section>
        <div id="footer">
          <span align="center">{{ site.description | default: site.github.project_tagline }}</span>
          <br />
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          &mdash; 
          <span class="credits center">Hosted on GitHub Pages</span>
          &mdash; 
          <span class="credits right">Theme inspired by <a href="https://github.com/pages-themes/midnight">Midnight</a></span>
        </div>
      </section>
    </div>
